# framework
django
django-treebeard
django-extensions
werkzeug
django-mptt
django-mptt-admin

# db
#psycopg2

# rest
django-oauth-toolkit
django-cors-headers
django-tastypie
#-e git+https://github.com/django-tastypie/django-tastypie#egg=Tastypie

# debug
ipdb
ipython

# util
lxml
pykml
requests
