# framework
django
django-treebeard
django-extensions
werkzeug

# db
#psycopg2

# rest
django-oauth-toolkit
django-cors-headers
-e git+https://github.com/django-tastypie/django-tastypie#egg=TastyPie

# debug
ipdb
ipython

# util
lxml
pykml
requests
