#framework
django
django-treebeard

#db
#psycopg2

#rest
django-tastypie -e git+https://github.com/django-tastypie/django-tastypie#egg=TastyPie
defusedxml
python-digest

#debug
ipdb
ipython

#util
lxml
pykml
requests
