<div class="tab-panel" ng-controller="NavbarController as tabPanel">
    <!--ng-init="addTab({id: 'tab1', name: 'Section1', content:'Howdy, I\'m in Section 1.'})"-->
    <div class="tabbable">
        <div ng-class="{'col-xs-3': tabPanel.isStacked}">
            <ul class="nav nav-tabs" ng-class="{'nav-stacked nav-pills': tabPanel.isStacked}">
                <li ng-repeat="tab in tabs" ng-class="{'active': tabPanel.isActiveTab(tab), 'disabled': tab.disabled}"
                    ng-click="tabPanel.setActiveTab(tab)" ng-init="tabPanel.setActiveTab(tabs[0])">
                    <a><i ng-if="tab.icon" class="{{ tab.icon }}"></i>{{ tab.name }}</a>
                </li>
            </ul>
        </div>
        <div ng-class="{'col-xs-9': tabPanel.isStacked}">
            <div class="tab-content col-xs-9">
                <div class="tab-pane fade" ng-repeat="tab in tabs" ng-class="{'active in': tabPanel.isActiveTab(tab)}">
                    {{ tab.content }}
                </div>
            </div>
        </div>
    </div>
</div>