<div class="tabs" ng-controller="NavbarController as tabsCtrl">
    <div class="tabbable">
        <div ng-class="{'col-xs-3': tabsCtrl.isStacked}">
            <ul class="nav nav-tabs" ng-class="{'nav-stacked nav-pills': tabsCtrl.isStacked, 'nav-justified': tabsCtrl.isJustified}">
                <li ng-repeat="tab in tabsCtrl.tabs" ng-class="{'active': tabsCtrl.isActiveTab(tab), 'disabled': tab.disabled}"
                    ng-click="tabsCtrl.setActiveTab(tab)" ng-init="tabsCtrl.setActiveTab(tabsCtrl.tabs[0])">
                    <a><i ng-if="tab.icon" class="{{ tab.icon }}"></i>{{ tab.name }}</a>
                </li>
            </ul>
        </div>
        <div ng-class="{'col-xs-9': tabsCtrl.isStacked}">
            <div class="tab-content col-xs-9">
                <div class="tab-pane fade" ng-repeat="tab in tabsCtrl.tabs" ng-class="{'active in': tabsCtrl.isActiveTab(tab)}">
                    <ng-include src="tab.include" ng-if="tab.include"></ng-include>
                    {{ tab.content }}
                </div>
            </div>
        </div>
    </div>
</div>