<div class="options row" ng-controller="OptionsController as optionsCtrl">
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#options-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">
                    <i class="glyphicon glyphicon-search"></i>
                    <!--Options-->
                </a>
            </div>

            <div class="collapse navbar-collapse" id="options-navbar">
                <div class="navbar-form" role="search">

                    <div class="form-group" ng-if="optionsCtrl.devices.show">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-screenshot"></i>
                                <!--Device:-->
                            </div>
                            <input class="form-control" type="text" ng-model="optionsCtrl.devices.selected" ng-readonly="optionsCtrl.devices.readonly"
                                   typeahead="device for device in optionsCtrl.devices.list | filter:$viewValue | limitTo:8">
                        </div>
                    </div>

                    <div class="form-group" ng-if="optionsCtrl.journeys.show">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-road"></i>
                                <!--Journey:-->
                            </div>
                            <input class="form-control" type="text" ng-model="optionsCtrl.journeys.selected" ng-readonly="optionsCtrl.journeys.readonly"
                                   typeahead="device for device in optionsCtrl.journeys.list | filter:$viewValue | limitTo:8">
                        </div>
                    </div>

                    <div class="form-group" ng-if="optionsCtrl.startDate.show">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-chevron-right"></i>
                                <!--Start Date:-->
                            </div>
                            <input class="form-control" type="text" datepicker-popup="dd.MM.yyyy" ng-readonly="optionsCtrl.startDate.readonly"
                                   ng-model="optionsCtrl.startDate.date" is-open="optionsCtrl.startDate.opened"
                                   required>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-disabled="optionsCtrl.startDate.readonly"
                                        ng-click="optionsCtrl.startDate.toogle($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group" ng-if="optionsCtrl.stopDate.show">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                <!--Stop Date:-->
                            </div>
                            <input class="form-control" type="text" datepicker-popup="dd.MM.yyyy" ng-readonly="optionsCtrl.stopDate.readonly"
                                   ng-model="optionsCtrl.stopDate.date" is-open="optionsCtrl.stopDate.opened"
                                   required>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-disabled="optionsCtrl.startDate.readonly"
                                            ng-click="optionsCtrl.stopDate.toogle($event)">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-default" ng-click="optionsCtrl.submit()">
                        <i class="glyphicon glyphicon-ok"></i>
                        <!--Submit-->
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>